<div>
	<h1>Welcome to directives</h1>
</div>
<div>
	<p [ngStyle]="styleObj">There are 3 types of directive that we are going to directives</p>

	<input type="button" value="changestyle" (click)="changestyleEventHandler()" name="">

	<input type="text" name="" ([ngmodel])="priority">

	<ul>
		<li>Structural directives -- *ngFor, *ngIf, *ngSwitch</li>

		<li>Attribute directives -- [ngClass] [ngClass] [class] [style]</li>

		<li>Component special directive -- view is associated</li>

		<li>custome directive</li>
	</ul>
</div>