
	<div class="container-fluid cnt" >
		<div class="row">
			<div class="box col-4 offset-4 text-center">
				<h2>Login</h2>
				<form class="p-5">
					<div class="form-group">
						<label for="email">Username</label>
						<input type="email" class="form-control" id="email" placeholder="email">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="pwd" placeholder="password">
					</div>
					<div class="checkbox">
    					<label><input type="checkbox"> Remember me</label>
  					</div>
					<button type="button" class="btn btn-success" routerLink="/start">Login</button>
					<button type="button" class="btn btn-success"  routerLink="/register">Register</button>
				</form>
			</div>
			
		</div>
	</div>