
	<div class="container-fluid cnt" >
		<div class="row">
			<div class="box col-4 offset-4">
				<h2 class="text-center">Login</h2>
				<form class="p-5" [formGroup]="loginForm">
					<div class="form-group">
						<label for="email">Username</label>
						<input type="email" class="form-control" id="email" placeholder="email" formControlName="userName">
					</div>
						<div *ngIf="loginForm.get('userName').errors?.required && (loginForm.get('userName').touched || loginForm.get('userName').dirty)">
							<p class="text-danger">username is required</p>
						</div>

						<div *ngIf="loginForm.get('userName').errors?.email && (loginForm.get('userName').touched || loginForm.get('userName').dirty)">
							<p class="text-danger">Please enter valid username</p>
						</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="pwd" placeholder="password" formControlName="password">
						<small id="passwordHelp" class="form-text text-muted">password should be min 4 and max 8 length</small>
					</div>


						<div *ngIf="			loginForm.get('password').errors?.required && (loginForm.get('password').touched || loginForm.get('password').dirty)">
							<p class="text-danger">password is required</p>
						</div>

						<div *ngIf="			loginForm.get('password').errors?.minlength && (loginForm.get('password').touched || loginForm.get('password').dirty)">
							<p class="text-danger">password should be of min 4 length</p>
						</div>

						<div *ngIf="			loginForm.get('password').errors?.maxlength && (loginForm.get('password').touched || loginForm.get('password').dirty)">
							<p class="text-danger">password should be of max 8 length</p>
						</div>

					<div class="checkbox">
    					<label><input type="checkbox"> Remember me</label>
  					</div>
					<button type="button" class="btn btn-success" routerLink="/start" [disabled]="loginForm.invalid">Login</button>
					<button type="button" class="btn btn-success ml-2"  routerLink="/register">Register</button>
				</form>
			</div>
			
		</div>
	</div>