<div class="container-fluid cnt" >
    <div class="row hd">
      <div class="align-self-center text-center col-sm-12">
      <p class="txt text-success" >Earth Hackers </p>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="row ft mt-5">
		<div class="align-self-center col-md-3 mt-2 align-items-center col-sm-12 ft1 ntxt">
			<p>Copyright by Simplilearn private limited</p>
		</div>
		<div class="col-md-6  mt-2 mb-2 p-2 col-sm-12 ft2 ntxt">
			<p>Social Media Links</p>
			  	<i class="fa fa-facebook mr-2" aria-hidden="true"></i>
			  	<i class="fa fa-linkedin mr-2" aria-hidden="true"></i>
				<i class="fa fa-twitter mr-2" aria-hidden="true"></i>
		</div>
		<div class="col-md-3 align-self-center col-sm-12 ft3 ntxt">
			<p class="mb-0">Contact</p>
			<p class="mb-0">xxxxxx@gmail.com</p>
			<p class="mb-0">xx-xxxx-xxx</p>

		</div>
	
	</div>
</div>