<div class="container-fluid cnt">
	{{registerForm.status}}
	<div class="row">
			<div class="box col-4 offset-4">
				<h2 class="text-center">Register</h2>
				<form class="p-5" [formGroup]="registerForm">
					<div class="form-group">
						<label for="Name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
						<small *ngIf="registerForm.get('name').errors?.required && (registerForm.get('name').touched || registerForm.get('name').dirty)" class="text-danger">name is required</small> 
					</div>
					<div class="form-group">
						<label for="Email Id">Email Id</label>
						<input type="email" class="form-control" id="email" placeholder="Email" formControlName="userName">
						<small *ngIf="registerForm.get('userName').errors?.required && (registerForm.get('userName').touched || registerForm.get('userName').dirty)" class="text-danger">user name is required</small>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
						<small id="passwordHelp" class="form-text text-muted">password should be min 4 and max 8 length</small>
						<small *ngIf="registerForm.get('password').errors?.required && (registerForm.get('password').touched || registerForm.get('password').dirty)" class="text-danger">password is required</small>

						<small *ngIf="registerForm.get('password').errors?.minlength && (registerForm.get('password').touched || registerForm.get('password').dirty)" class="text-danger">
							password should be of min 4 length
						</small>

						<small *ngIf="registerForm.get('password').errors?.maxlength && (registerForm.get('password').touched || registerForm.get('password').dirty)" class="text-danger">
							password should be of max 8 length
						</small>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password</label>
						<input type="password" class="form-control" id="Password" placeholder="Password" formControlName="confirmPassword">
						<small *ngIf="registerForm.get('confirmPassword').errors?.required && (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty)" class="text-danger">confirm password is required</small>

						<small *ngIf=" registerForm.errors?.mismatch && (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty)" class="text-danger">
		              Password doesn't match
		            	</small>
					</div>

					


					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
						<small *ngIf="registerForm.get('address').errors?.required && (registerForm.get('address').touched || registerForm.get('address').dirty)" class="text-danger">address is required</small>
					</div>
					<div class="form-group">
						<label for="gender">Gender</label>
						<br/>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" formControlName="gender">
						  <label class="form-check-label" for="inlineRadio1">Male</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" formControlName="gender">
						  <label class="form-check-label" for="inlineRadio2">Female</label>
						  <small *ngIf="registerForm.get('gender').errors?.required && (registerForm.get('gender').touched || registerForm.get('gender').dirty)" class="text-danger">gender is required</small>
						</div>
					</div>
					<button type="button" class="btn btn-success" routerLink="/start" [disabled]="registerForm.status == 'invalid'">Login</button>
				</form>
			</div>
			
		</div>
	}
</div>